<div class="panel panel-info">
	<div class="text-center panel-heading">Crear Ciudad</div>
	<div class="panel-body" id="cuerpo-logueo">
		<form method="POST" id="formCiudad">
			<div id="campo_provincia" class="form-group has-default">
				<label id="label_provincia" for="id_provincia">Elija una provincia</label>
				<select required id="id_provincia" name="provincia" class="form-control">
					<option>Seleccionar provincia</option>
				</select>
			</div>
			<div id="campo_nombre" class="form-group has-default">
				<label id="label_provincia" for="id_nombre">Nombre</label>
				<input required id="id_nombre" name="nombre" class="form-control" placeholder="Nombre" type="text">
			</div>
			<div id="campo_codigo_postal" class="form-group has-default">
				<label id="label_codigo_postal" for="id_codigo_postal">Código postal</label>
				<input required id="id_codigo_postal" name="codigo_postal" class="form-control" placeholder="Código postal" type="number">
			</div>
			<input id="submitCiudad" type="button" class="btn btn-info pull-right" onclick="altaCiudadController()" value="Crear Ciudad">
		</form>
	</div>
</div>