<div class=" text-center alert alert-info">
	Usted creará una ciudad ubicada en <strong id="provincia">Provincia</strong>, provincia elegida.
</div>
<div class="panel panel-info">
	<div class="text-center panel-heading">Crear Ciudad</div>
	<div class="panel-body" id="cuerpo-logueo">
		<form method="POST" id="formCiudad" name="formCiudad">
			<div id="campo_nombre" class="form-group has-default">
				<label id="label_provincia" for="id_nombre">Nombre</label>
				<input required id="id_nombre" name="nombre" class="form-control" placeholder="Nombre" type="text">
			</div>
			<div id="campo_codigo_postal" class="form-group has-default">
				<label id="label_codigo_postal" for="id_codigo_postal">Código postal</label>
				<input required id="id_codigo_postal" name="codigo_postal" class="form-control" placeholder="Código postal" type="number">
			</div>
			<div class="btn-group pull-right" role="group" aria-label="...">
				<input id="desistCiudad" type="button" class="btn btn-default" onclick="altaEstablecimientoView()" value="Cancelar">
				<input id="submitCiudad" type="button" class="btn btn-info" onclick="altaCiudadController()" value="Crear Ciudad">
			</div>
		</form>
	</div>
</div>