<div class="panel panel-default">
    <div class="text-center panel-heading">Crear establecimiento</div>
    <div class="panel-body" id="cuerpo-logueo">
	    <form method="POST" id="form-modif">
	    	<label id="campo_provincia" for="id_provincia">Elija una provincia</label>
				<select id="id_provincia" name="provincia" class="form-control">
					<option name="opcion_provincia">Seleccionar provincia</option>
				</select>
			</label>
			<label id="campo_ciudad" for="id_ciudad">Elija una ciudad</label>
				<select id="id_ciudad" name="ciudad" class="form-control">
					<option name="opcion_ciudad">Seleccionar ciudad</option>
				</select>
			</label>
	    </form>
    </div>
</div>