<div class="row">
	<div class="col-md-7">
		<div class="panel panel-info">
			<div class="text-center panel-heading">Filtrado de calificaciones</div>
			<div class="panel-body">
				<form method="POST" id="formFiltrado" name="formFiltrado">
					<div class="form-group">
						<label for="id_nombre">Nombre</label>
						<input required id="id_nombre" name="nombre" class="form-control" placeholder="Nombre del establecimiento" type="text">
					</div>
					<label>Elija un año</label>
					<input hidden id="id_anno" type="number">
					<div class="text-center">
						<button onclick="atrasAnno()" type="button" class="btn btn-default">
							<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
						</button>
						<div class="btn-group" id="annos" role="group" aria-label="...">
							<button name="anno" onclick="elijeAnno(0)" value="2013" type="button" class="btn btn-default">2013</button>
							<button name="anno" onclick="elijeAnno(1)" value="2014" type="button" class="btn btn-default">2014</button>
							<button name="anno" onclick="elijeAnno(2)" value="2015" type="button" class="btn btn-default">2015</button>
							<button name="anno" onclick="elijeAnno(3)" value="2016" type="button" class="btn btn-default">2016</button>
							<button name="anno" onclick="elijeAnno(4)" value="2017" type="button" class="btn btn-default">2017</button>
						</div>
						<button onclick="sigAnno()" type="button" class="btn btn-default">
							<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						</button>
					</div>
					<br>
					<input hidden id="id_mes" type="number">
					<label>Elija un mes</label>
					<div class="text-center">
						<div class="btn-group btn-group-sm" role="group" aria-label="...">
							<button onclick="elijeMes(0)" name="mes" value="01" type="button" class="btn btn-default">Ene</button>
							<button onclick="elijeMes(1)" name="mes" value="02" type="button" class="btn btn-default">Feb</button>
							<button onclick="elijeMes(2)" name="mes" value="03" type="button" class="btn btn-default">Mar</button>
							<button onclick="elijeMes(3)" name="mes" value="04" type="button" class="btn btn-default">Abr</button>
							<button onclick="elijeMes(4)" name="mes" value="05" type="button" class="btn btn-default">May</button>
							<button onclick="elijeMes(5)" name="mes" value="06" type="button" class="btn btn-default">Jun</button>
							<button onclick="elijeMes(6)" name="mes" value="07" type="button" class="btn btn-default">Jul</button>
							<button onclick="elijeMes(7)" name="mes" value="08" type="button" class="btn btn-default">Ago</button>
							<button onclick="elijeMes(8)" name="mes" value="09" type="button" class="btn btn-default">Sep</button>
							<button onclick="elijeMes(9)" name="mes" value="10" type="button" class="btn btn-default">Oct</button>
							<button onclick="elijeMes(10)" name="mes" value="11" type="button" class="btn btn-default">Nov</button>
							<button onclick="elijeMes(11)" name="mes" value="12" type="button" class="btn btn-default">Dic</button>
						</div>
					</div>
					<br>
					<div class="form-group">
						<label for="id_dia">Ingrese un día</label>
						<input required id="id_dia" name="dia" class="form-control" placeholder="Día" type="number">
					</div>
					<div class="form-group">
						<label for="id_desde">Desde <a onclick="llenaFecha(1)">Llenar fecha 'Desde'</a></label>
						<input required id="id_desde" class="form-control" type="date">
					</div>
					<div class="form-group">
						<label for="id_hasta">Hasta <a onclick="llenaFecha(2)">Llenar fecha 'Hasta'</a></label>
						<input required id="id_hasta" class="form-control" type="date">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<div class="panel panel-info">
			<div class="text-center panel-heading">Establecimientos</div>
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Los mejores</th>
						<th>Los peores</th>
					</tr>
				</thead>
				<tbody id="estadisticas">
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>