<div class="panel panel-default">
	<ul class="list-group">
		<li class="list-group-item">
			<h1 class="text-center"><strong id="nombre"></strong></h1>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-md-3">
					<dl class="dl-horizontal">
						<div class="panel panel-success">
							<div class="text-center panel-heading">Dirección</div>
							<div class="panel-body" id="cuerpo-logueo">
								<p id="direccion" class="text-center"></p>
							</div>
						</div>
					</dl>
				</div>
				<div class="col-md-3">
					<dl class="dl-horizontal">
						<div class="panel panel-warning">
							<div class="text-center panel-heading">Ciudad</div>
							<div class="panel-body" id="cuerpo-logueo">
								<p id="ciudad" class="text-center"></p>
							</div>
						</div>
					</dl>
				</div>
				<div class="col-md-3">
					<dl class="dl-horizontal">
						<div class="panel panel-danger">
							<div class="text-center panel-heading">Provincia</div>
							<div class="panel-body" id="cuerpo-logueo">
								<p id="provincia" class="text-center"></p>
							</div>
						</div>
					</dl>
				</div>
				<div class="col-md-3">
					<dl class="dl-horizontal">
						<div class="panel panel-info">
							<div class="text-center panel-heading">Rubro</div>
							<div class="panel-body" id="cuerpo-logueo">
								<p id="rubro" class="text-center"></p>
							</div>
						</div>
					</dl>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed/v1/place?q=Alfonsina%20Storni%2022monte%20grandeBuenos%20Aires&key=AIzaSyCF5P_MlEWVxa5k3O6hyHOn8rNPkNVUokw"></iframe>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-md-6">
					<dl class="dl-horizontal">
						<dt>Calificación promedio</dt>
						<dd id="promedio">promedio</dd>
					</dl>
				</div>
				<div class="col-md-6">
					<dl class="dl-horizontal">
						<dt>Total de calificaciones</dt>
						<dd id="total">total</dd>
					</dl>
				</div>
			</div>
			<button id="alta_calif" class="btn btn-block btn-info">Calificar</button>
		</li>
		<li class="list-group-item">
			<button id="ver_calif" class="btn btn-block btn-info"></button>
		</li>
	</ul>
</div>