<div class="row">
	<div class="col-md-7">
		<div class="panel panel-info">
			<div class="text-center panel-heading">Filtrado de calificaciones</div>
			<div class="panel-body">
				<form method="POST" id="formFiltrado" name="formFiltrado">
					<label for="id_nombre">Nombre</label>
					<input required id="id_nombre" name="nombre" class="form-control" placeholder="Nombre del establecimiento" type="text">
					<br>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="id_desde">Desde</label>
								<input required id="id_desde" class="form-control" type="date">
							</div>
						</div>
						<div class="col-md-6">
								<label for="id_hasta">Hasta</label>
								<input required id="id_hasta" class="form-control" type="date">
							<script type="text/javascript">
								$(function() {
									$('#datetimepicker1').datetimepicker({
										language: 'pt-BR'
									});
								});
							</script>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<div class="panel panel-info">
			<div class="text-center panel-heading">Establecimientos</div>
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Los mejores</th>
						<th>Los peores</th>
					</tr>
				</thead>
				<tbody id="estadisticas">
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>