<div class="panel panel-default" id="panel">
	<ul class="list-group">
		<li class="list-group-item">
			<h2 class="text-center"><strong></strong></h2>
		</li>
		<li class="list-group-item">
			<div class="row">
				<dl class="dl-horizontal">
					<dt>Dirección</dt>
					<dd></dd>
					<dt>Rubro</dt>
					<dd>un rubro</dd>
				</dl>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-md-6">
					<dl class="dl-horizontal">
						<dt>Calificación promedio</dt>
						<dd>promedio</dd>
					</dl>
					<button name="ver_calif" class="btn btn-block btn-info">Ver calificacines</button>
				</div>
				<div class="col-md-6">
					<dl class="dl-horizontal">
						<dt>Total de calificaciones</dt>
						<dd>total</dd>
					</dl>
					<button name="alta_calif" class="btn btn-block btn-info">Calificar</button>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<button name="ver_est" class="btn btn-block btn-info">Ver detalle</button>
		</li>
	</ul>
</div>