
<head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="591640878951-71fdjqpskgq64f00lb6omqgs9j3gmato.apps.googleusercontent.com">
    <meta charset="UTF-8">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="../fb-login.js"></script>
    <script src="../google-login.js"></script>
    <script src="../controllers.js"></script>
    <script src="../libs.js"></script>
    <script src="../template_manager.js"></script>
    <script src="../models.js"></script>
  </head>
<body onload="poneBotonesController()">
	
	<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
<div id="twitter"><a href="../twitter_auth3.php"><img src="../img/sign-in-with-twitter-l.png" width="151" height="24" border="0" /></a></div>
</body>
<div id="fb"><fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button></div>

</body>

	
	<div id="status"> </div>
</body>
