            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a href="#" onclick="EstadisticasView()" class="navbar-brand">¡Metele Onda!</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" id="content">
                <ul class="nav navbar-nav">
                    <li><a id="navbar-logout" onclick="signOut()" href="#" >Sign out</a></li>
                    <li id="navbar-content-login" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ingresar<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" onclick="loginControllerFB('facebook')">Facebook</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"> </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#" onclick="loginController('twitter')">Twitter</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul id="navbar-content" class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Establecimientos<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" onclick="altaEstablecimientoView()">Creación</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#" onclick="EstablecimientosView(1)">Listado</a>
                            </li>
                            <li>
                                <a href="#" onclick="BusqEstablecimientosView()">Búsqueda</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>