			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
					<i class="fa fa-bars"></i>
				</button>
				<a href="#" onclick="EstadisticasView()" class="navbar-brand">¡Metele Onda!</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" id="content">
				<ul id="navbar-content-login" class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ingresar<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<a href="#" onclick="">Facebook</a>
							</li>
							<li role="separator" class="divider"></li>
							<li>
								<a href="#" onclick="">Google</a>
							</li>
							<li role="separator" class="divider"></li>
							<li>
								<a href="#" onclick="">Twitter</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul id="navbar-content" class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Establecimientos<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<a href="#" onclick="altaEstablecimientoView()">Creación</a>
							</li>
							<li role="separator" class="divider"></li>
							<li>
								<a href="#" onclick="EstablecimientosView(1)">Listado</a>
							</li>
							<li>
								<a href="#" onclick="BusqEstablecimientosView()">Búsqueda</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
