<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ingresar<span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li>
			<a href="#" onclick="loginControllerFB('facebook')">Facebook</a>
		</li>
		<li role="separator" class="divider"></li>
		<li>
			<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"> </div>
			<a href="http://meteleonda.com:8000/login/google-oauth2/?next=http://meteleonda.com">Google</a>
		</li>
		<li role="separator" class="divider"></li>
		<li>
			<a href="#" onclick="loginController('twitter')">Twitter</a>
		</li>
	</ul>
</li>

