<form id="formestablecimiento">
Provincia: <select  id="provincia" size="1" name ="provincia"></select><br>
<label id="lbl_ciudad">Ciudad: </label><select  id="ciudad" size="1" name ="ciudad"></select><button id="nuevaciudad" type="button">Nueva</button><br>
Nombre: <input id="nombre" type="text" name="nombre" required><br>
Direccion: <input id="direccion" type="text" name="direccion" required><br>
Rubro: <select  id="rubro" size="1" name ="rubro"></select><br>
<button id="modificar" type="button">Agregar</button>
<button id="cancelar"  type="button">Cancelar</button>
</form>
